# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# Environment variables / secrets
.env

# Flask / SQLAlchemy instance folder
instance/
instance/*.db
*.db

# Flask uploads
app/static/uploads/

# Logs
*.log

# Cache
.cache/
*.egg-info/

# Mac / Windows junk files
.DS_Store
Thumbs.db
